extends layout

block content
  .row
    .col-xs-12.col-md-8
      .jumbotron
        h1 Prepare for Worker

        p Coming in September 2015, Worker is a free web service created for the sole purpose of simplifying almost every aspect of your academic career at Regis High School.
        p Keep track of your daily homework, notes, graders, schedule, events, reminders, tests, quizzes, projects, vocabulary and more all in one place at the same time.

        br

        a.btn.btn-lg.btn-primary(href="#display") Learn More
    .col-xs-12.col-md-4
      .panel.panel-default
        .panel-heading
          h3(style="margin-top: 10px; margin-bottom: 10px;") Current Statistics
        .panel-body
          .row
            .col-xs-6
              b.larger Today:
              span  #{today.format("dddd, MMMM Do YYYY")}
            .col-xs-6
              b.larger Now:
              span  #{moment().format("h:mm:ss a")}
          hr
          .row
            .col-xs-6
              b.larger School Year:
              span  #{year}
            .col-xs-6
              b Started:
              span  #{moment(full_year.trimesters[0]).fromNow()}
            .col-xs-6
              b Ends:
              span  #{moment(full_year.end).fromNow()}
          hr
          .row
            .col-xs-6
              b.larger Trimester:
              span  #{tri}
            .col-xs-6
              b Started:
              span  #{moment(full_year.trimesters[tri-1]).fromNow()}
            .col-xs-6
              b Ends:
              if tri == 3
                span  #{moment(full_year.end).fromNow()}
              else
                span  #{moment(full_year.trimesters[tri]).fromNow()}
  .row#display
    .col-xs-12.col-sm-6.col-md-4
      .panel.panel-default.panel-info.explanation
        .panel-heading
          h2.no-margin Homeworker
        .panel-body
          p.
            Keep track of homework to get a organized and understandable to-do list for homework every day. Toggle completion for each item to keep track of your progress.
    .col-xs-12.col-sm-6.col-md-4
      .panel.panel-default.panel-info.explanation
        .panel-heading
          h2.no-margin Grader
        .panel-body
          p.
            Track your academic progress by storing grades and seeing visualizations of the data to see trends in your progress. View charts and graphs plotting trends in grades to find areas in need of improvement.
    .col-xs-12.col-sm-6.col-md-4
      .panel.panel-default.panel-info.explanation
        .panel-heading
          h2.no-margin Noter
        .panel-body
          p.
            Write down your notes or upload them here after you write them to organize by date, subject, topic, etc. and be able to share items publicly.
    .col-xs-12.col-sm-6.col-md-4
      .panel.panel-default.panel-info.explanation
        .panel-heading
          h2.no-margin Scheduler
        .panel-body
          p.
            Have your class schedule instantly available to you at a tap of a button. Check during school day's to see upcoming classes and view the work needed to be completed for them. Plan study sessions, meetings with teachers, and more.
    .col-xs-12.col-sm-6.col-md-4
      .panel.panel-default.panel-info.explanation
        .panel-heading
          h2.no-margin Liveliner
        .panel-body
          p.
            Schedule your due dates for projects, essays, etc. to be able to plan work on them ahead of time to fit them into your homework and extracurricular schedule.
    .col-xs-12.col-sm-6.col-md-4
      .panel.panel-default.panel-info.explanation
        .panel-heading
          h2.no-margin Definer
        .panel-body
          p.
            List and organize your vocabulary for all subjects and place them into easy to understand groups and sections to make study night easier. Create quizes on the words when you need the extra help.
      br.bottom-spacer
  .row
    .col-xs-12
      h2 Want to be alerted when this service is ready?
      .input-group
        input(type="text", class="form-control", placeholder="Your Email")
        span.input-group-btn
          button.btn.btn-default(type="button") Submit
