if info != null
  for i in info
    .alert.alert-info.alert-dismissible(data-dismiss="alert", aria-label="Close", role="alert")= i
      i.fa.fa-close.close

if errs != null
  for err in errs
    .alert.alert-danger(role="alert")= err
