extends /layout

block content
  .page-header
    h1 User List

  for u in users
    +user(u)


mixin user(u)
  .col-xs-12.col-sm-4.col-md-4.col-lg-3.text-center.user-box
    //-var srcc='https://webeim.regis.org/photos/regis/Student/' + user.code + '.jpg'
    //if user.username=="fmatranga18"
    //  -srcc='http://i.imgur.com/foj9wtR.jpg'
    a(href="/users/"+u.nickname)
      img.profile-img(alt="Regis Wifi blocks profile images off the main site I believe.", src=u.picture)
      br
      if loggedIn && u.username == currentUser.username
          span(class="you") You
      else
          span(class=(u.rank == 5 ? "owner" : ""))= u.name
      if u.rank == 5
          i.fa.fa-star.fa-spin(title="This user is the Creator.", style="color: gold; margin-left: 5px;")
      if u.rank == 4
          i.fa.fa-star.fa-spin(title="This user is a Administrator.", style="color: orange; margin-left: 5px;")
      if u.rank == 3
          i.fa.fa-star.fa-spin(title="This user is a Moderator.", style="color: red; margin-left: 5px;")
